body {
  margin: 0;
  padding: 0;
  background-color: #06141D;
}

.App {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.navbar {
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  justify-content: space-around;
  padding-right: 40px;
}

.list {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.navbutton {
  display: flex;
  flex-direction: row;
  padding: 0;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  background-color: #28343E;
  height: 30px;
  border-radius: 8px;
}



.list a {
  text-decoration: none;
  padding: 2px 15px;
  color: #DBEAEE;
  margin: 10px;
  font-weight: 600;
  font-size: 15px;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user img {
  height: 35px;
  width: 35px;
  margin-right: 10px;
  border-radius: 50px;
}

.user p {
  padding: 20px;
  font-weight: 900;
  margin-left: 50px;
  font-weight: 1100;
  font-size: 18px;
}


/* ************************FORM************* */
/* ************************FORM************* */
/* ************************FORM************* */


.formBody {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #06141D;
  height: 90vh;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1B2730;
  border-radius: 15px;
  color: #DBEAEE;
  /* margin-top: 15vh; */
  padding: 20px;
}

.tittle {
  border: none;
  border-bottom: 2px solid #DBEAEE;
  color: #DBEAEE;
  background-color: #28343E;
}

.description {
  border: none;
  border-bottom: 2px solid #DBEAEE;
  background-color: #28343E;
  height: 20vh;
  color: #DBEAEE;
}

label {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  margin-top: -13px;
}

label img {
  padding-right: 10px;
}

.submitButton {
  width: 32vw;
  height: 8vh;
  background-color: #DBEAEE;
  border: none;
  color: #28343E;
  border-radius: 6px;
  font-size: medium;
  font-weight: bolder;
}

.postBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;



}




/* ***********************post/home******************* */
/* ***********************post/home******************* */
/* ***********************post/home******************* */
/* .home {
  justify-content: space-evenly;
} */



.homeprofile {
  display: flex;
  justify-content: center;
  align-items: flex-start
}

.profilehome {
  background-color: #1B2730;
  padding: 20px 25px;
  margin: 40px 0;
  width: 80%;
  height: 35%;
  border-radius: 10px;
  color: #DBEAEE;
}

.profilehome img {
  border-radius: 50%;
}

.profilehome button {
  padding: 0;
  justify-content: center;
  align-items: center;
  border: none;
  /* background-color: #28343E; */
  width: 190px;
  height: 27px;
  color: #DBEAEE;
  border-radius: 8px;
  background-color: rgba(255, 64, 64, 0.89);
}

.homeposts {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.post {
  background-color: #1B2730;
  margin: 30px 0;
  /* width: 80vh; */
  /* max-width: 600px; */
  /* height: 35%; */
  max-height: 800px;
  border-radius: 10px;
  color: #DBEAEE;
}

.username {
  text-align: left;
  font-weight: bold;
  font-size: medium;
}

.postcontent {
  margin-top: 20px;
}

.posttitle {
  text-align: left;
  font-size: small;
  font-weight: bold;
}

.postdescription {
  display: flex;
  font-size: medium;
  font-weight: normal;
  text-align: left;
  margin-top: 8px;

  /* background-color: pink; */
}

.postImage {
  max-width: 100%;
  max-height: 300px;
  /* Set a maximum height to limit the image size */
  object-fit: cover;
  /* This will make sure the image fits inside the container */
  margin: 10px 0;
  /* Optional: Add some spacing around the image */
}

.button {
  display: flex;
  flex-direction: row;
  padding: 0;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  background-color: #28343E;
  width: 95px;
  height: 30px;
  color: #DBEAEE;
  border-radius: 8px;
}

.button:hover {
  cursor: pointer;
}

.buttonlike {
  max-height: 100;
  max-width: 100;
  display: block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
}



.loginbody {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #DBEAEE;
  border-radius: 20px;
  background-color: #28343E;
  padding: 20px 0;
}

.login button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 40px;
  font-weight: 800;

}

.google {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

@media (min-width: 768px) {
  .home {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .homeprofile {
    margin-left: 60px;
    flex: 0 0 auto;

  }

  .login {
    width: 40%;
    height: 40%;
  }

  .form {
    width: 40vw;
    height: 60vh;
  }

  .tittle {
    padding: 9px;
    width: 30vw;
  }

  .description {
    padding: 9px;
    width: 30vw;
  }

  .submitButton {
    width: 32vw;
    height: 8vh;
  }


  .homeposts {
    flex: 1;
    overflow-y: auto;
  }

  .post {
    width: 80%;
    padding: 20px 25px;
  }

  .posttitle {
    margin: 0px;
  }
}

/* Media query for mobile-size screen (for example, below 768px) */
@media (max-width: 767px) {
  .home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
  }

  .submitButton {
    width: 62vw;
    height: 8vh;
  }

  .description {
    padding: 9px;
    width: 60vw;
  }

  .tittle {
    padding: 9px;
    width: 60vw;
  }

  .user {
    display: none;
  }

  .logo {
    margin-left: 30px;
  }

  .login {
    width: 80%;
    height: 30%;
  }

  .form {
    width: 75vw;
    height: 60vh;
  }

  .post {
    width: 100%;
    border-radius: 0;
    padding-bottom: 15px;
    margin: 2px 0;
  }

  .posttext {
    margin-left: 20px;
  }

  .button {
    margin-left: 20px;
  }

  .postImage {
    max-width: 100%;
  }
}