body {
  margin: 0;
  padding: 0;
  background-color: #06141D;
}

.App {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  /* font-family: monospace;*/
}

.navbar {
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  justify-content: space-around;
  padding-right: 40px;
}

.list {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.navbutton {
  display: flex;
  flex-direction: row;
  padding: 0;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  background-color: #28343E;
  height: 30px;
  border-radius: 8px;
}



.list a {
  text-decoration: none;
  padding: 2px 15px;
  color: #DBEAEE;
  margin: 10px;
  font-weight: 600;
  font-size: 15px;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user img {
  height: 35px;
  width: 35px;
  margin-right: 10px;
  border-radius: 50px;
}

.user p {
  padding: 20px;
  font-weight: 900;
  margin-left: 50px;
  font-weight: 1100;
  font-size: 18px;
}


/* ************************FORM************* */
/* ************************FORM************* */
/* ************************FORM************* */


.formBody {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #06141D;
  height: 90vh;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1B2730;
  border-radius: 15px;
  width: 40vw;
  height: 60vh;
  color: #DBEAEE;
  /* margin-top: 15vh; */
  padding: 20px;
}

.tittle {
  border: none;
  border-bottom: 2px solid #DBEAEE;
  padding: 9px;
  width: 30vw;
  color: #DBEAEE;
  background-color: #28343E;
}

.description {
  border: none;
  border-bottom: 2px solid #DBEAEE;
  padding: 9px;
  width: 30vw;
  background-color: #28343E;
  height: 20vh;
  color: #DBEAEE;
}

.submitButton {
  width: 32vw;
  height: 8vh;
  background-color: #DBEAEE;
  border: none;
  color: #28343E;
  border-radius: 6px;
  font-size: medium;
  font-weight: bolder;
}

.postBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




/* ***********************post/home******************* */
/* ***********************post/home******************* */
/* ***********************post/home******************* */
/* .home {
  justify-content: space-evenly;
} */

@media (min-width: 768px) {
  .home {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
}

/* Media query for mobile-size screen (for example, below 768px) */
@media (max-width: 767px) {
  .home {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .user {
    display: none;
  }

  .logo {
    margin-left: 30px;
  }
}

.homeprofile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profilehome {
  background-color: #1B2730;
  padding: 20px 25px;
  margin: 40px 0;
  width: 80%;
  height: 35%;
  border-radius: 10px;
  color: #DBEAEE;
}

.profilehome img {
  border-radius: 50%;
}

.profilehome button {
  padding: 0;
  justify-content: center;
  align-items: center;
  border: none;
  /* background-color: #28343E; */
  width: 190px;
  height: 27px;
  color: #DBEAEE;
  border-radius: 8px;
  background-color: rgba(255, 64, 64, 0.89);
}

.homeposts {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.post {
  background-color: #1B2730;
  padding: 20px 25px;
  margin: 30px 0;
  /* width: 80vh; */
  width: 80%;
  height: 35%;
  border-radius: 10px;
  color: #DBEAEE;
}

.username {
  text-align: left;
  font-weight: bold;
  font-size: medium;
}

.postcontent {
  margin-top: 20px;
}

.posttitle {
  text-align: left;
  font-size: small;
  font-weight: bold;
  margin: 0;

}

.postdescription {
  display: flex;
  font-size: medium;
  font-weight: normal;
  text-align: left;
  margin-top: 8px;

  /* background-color: pink; */
}

.button {
  display: flex;
  flex-direction: row;
  padding: 0;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  background-color: #28343E;
  width: 95px;
  height: 30px;
  color: #DBEAEE;
  border-radius: 8px;
}

.button:hover {
  cursor: pointer;
}

.buttonlike {
  max-height: 100;
  max-width: 100;
  display: block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
}



.loginbody {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #DBEAEE;
  border-radius: 20px;
  background-color: #28343E;
  width: 35vw;
  height: 30vh;
  padding: 20px 0;
}

.login button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 40px;
  font-weight: 800;

}

.google {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}